.CodeMirror {
    height: 100%;
    width: 100%;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.CodeMirror .current-instruction {
    background-color: yellow
}


#datapath svg {
    width: 100%;
    height: 100%;
}

#toast-container > div {
  opacity: 0.90;
}
/* #datapath .wire {
    stroke: blue;
} */
