/* Global CSS helpers and styling */

.flex-grow-overflow {
    flex-grow: 1;
    min-height: 0; /* Have to set min-height 0 or flexbox won't overflow and make scrollbars */
}

.address-table {
    font-family: monospace;
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.address-table td {
    padding: 5px; 
    margin: 0;
}

/** But an input in a table cell. */
.address-table input {
    border:none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.address-table td:focus-within {
    outline: inset 2px #86b7fe;
    outline-offset: -2px;
}

.address-table td:nth-child(1) {
    text-align: right;
    white-space: nowrap;
    width: 1px; /* Force to minimum that doesn't wrap */
}

.address-table td:nth-child(1)[colspan] {
    text-align: center;
}

/** Library Styling */

/** Don't highlight the current line unless the editor is focused */
.cm-editor:not(.cm-focused) .cm-activeLine {
    background-color: inherit;
}


/** ==== Table Styling === */

/* table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
} */
 


/* ==== Library styling ==== */
.tippy-box {
    text-align: center;
    opacity: 95%;
}

/*
.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

#toast-container > div {
    opacity: 90%;
}

#toast-container > .toast {
    width: 350px; /* Make toast a little wider (default is 300px) * /
}



.tippy-box hr {
    margin: 5px 0px;
} */