.CodeMirror {
    height: 100%;
    width: 100%;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.CodeMirror .current-instruction {
    background-color: yellow
}

#toast-container > div {
    opacity: 90%;
}

.tippy-box {
    text-align: center;
    opacity: 95%;
}

.tippy-box hr {
    margin: 5px 0px;
}

/* table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
} */

/** But an input in a table cell. */
.table-input input {
    padding: 0px;
    border:none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.table-input td:focus-within {
    outline: inset 2px #86b7fe;
    outline-offset: -2px;
}

.table-input td:nth-child(1) {
    text-align: right;
    white-space: nowrap;
}


/** SVG Styling */
#datapath svg {
    width: 100%;
    height: 100%;
}

/* Fix weird bug where adding a tooltip would make an svg element "selectable" and show a border on click.
   The bug only seems to occur on Chrome for me. See https://github.com/atomiks/tippyjs/issues/121 */
#datapath *:focus {
    outline: none;
}

/** Highlight powered wires. */
.powered .wire, .powered.wire {
    stroke: blue;
    marker-start: url(#Juntion-powered);
}

#datapath marker.powered * {
    stroke: blue;
    fill: blue;
}

/** 
 * You can't make markers inherit the color of their line. SVG 2 has a way, but it doesn't seem to be supported.
 * See https://www.w3.org/TR/SVG2/painting.html#RenderingMarkers
 * So we have to make 2 versions of the marker and switch between them.
 * Inkscape also tends to duplicate the markers, so we had to remove the duplicates in the SVG file to make this easier.
 */
.powered .wire[marker-start], .powered.wire[marker-start] { marker-start: url(#Juntion-powered); }
.powered .wire[marker-mid], .powered.wire[marker-mid] { marker-mid: url(#Juntion-powered); }
.powered .wire[marker-end], .powered.wire[marker-end] { marker-end: url(#Arrow-powered); }

/**
 * Highlight current wire group (Wire groups are directly under the #diagram layer. It might be better to add a
 * class to the groups instead of relying on their relative position.)
 */
#diagram > g:hover > .wire, #diagram > .wire:hover {
    stroke-width: 0.75; /** Wire are 0.5 normally */
}
