.datapath {
    width: 100%;
    height: 100%;
}

.datapath svg {
    width: 100%;
    height: 100%;
}

/* Fix weird bug where adding a tooltip would make an svg element "selectable" and show a border on click.
   The bug only seems to occur on Chrome for me. See https://github.com/atomiks/tippyjs/issues/121 */
.datapath *:focus {
    outline: none;
}

/** Highlight powered wires. */
.datapath :global(.powered.wire) {
    stroke: blue !important; /* I'm abusing !important, but it lets us override inline styles and inkscapes's svg will
                                  usually have lots of inline styles.  */
}

.datapath :global(marker.powered *) {
    stroke: blue !important;
    fill: blue !important;
}

.datapath :global(.wires:hover .wire), .datapath :global(.wire:hover) {
    stroke-width: calc(var(--sim-stroke-width) * 1.5) !important /* --sim-stroke-width is set dynamically in JS */
}

/** Styles powered wire markers will be generated dynamically in JS since we can't make markers inherit the color of their path */
