
.sim-editor .tab-content {
    border-left: 1px solid #dee2e6
}

.sim-editor .tab-pane {
    height: 100%;
}

.sim-editor .nav-link, .sim-editor .nav-link:hover {
    color: inherit; /* Don't color the nav links as links */
}

/* Fix for annoying popper warning. See https://github.com/react-bootstrap/react-bootstrap/issues/5081 */
.popper-warning-fix.dropdown-menu, .popper-warning-fix .dropdown-menu {
    margin: 0 !important;
}