.sim-view .tab-content {
    border-left: 1px solid #dee2e6
}

.sim-view .tab-pane {
    height: 100%;
}

.sim-view .nav-link, .sim-view .nav-link:hover {
    color: inherit; /* Don't color the nav links as links */
}

.sim-view .current-instruction {
    background-color: yellow
}
