<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>RISC-V Graphical Datapath Simulator</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>